.webContainer{
    margin: 20px;
    display: block
}

.mobContainer{
    display: none;
    margin: 20px;
}

.title{ 
    
    font-size: 16px;
    text-align: left;
}

.button{
  margin: 30px auto;
}

.selectDiv{
  margin: auto;
  width: 50%;

}

.select{
  width: 200px;
  height: 30px;
  border: 1px solid #547CD5;
  border-radius: 4px;
  margin: 10px;
}

.option{
  width: 100%;
  background-color: #547CD5;
  color: #fff;;
}

.ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;;
}

.li {
    font-size: 12px;
}

.textLi{
    font-size: 12px;
    text-align: center;
}

.radio{
    /* border: 1px solid #93B3FC; */
    /* accent-color: #93B3FC; */
    appearance: none;
    border-radius: 50%;
    /* border: 1px solid grey; */
    width: 24px;
    height: 24px;
    background-color: grey;
}

.radio:-ms-check{
    border: 1px solid #547CD5;
    background-color: #547CD5;
    accent-color: #93B3FC;
}

.radio:checked{
    accent-color: #93B3FC;
    background-color: #93B3FC;
    border: 1px solid #93B3FC;
    width: 24px;
    height: 24px;
}

@media(max-width: 992px){
    .webContainer{
      margin: 20px;
      display: block
    }
    .title{ 
    
        font-size: 14px;
    }

}

@media(max-width: 768px){
  .webContainer{
    margin: 20px;
    display: none;
  }  
  .title{ 
  
      font-size: 12px;
  }


  .mobContainer{
    display: block;
    margin: 20px;
  }

  .selectDiv{
    margin: auto 0;
    width: 100%;
  }

  .ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;;
  }

  .textLi{
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}
}